html, body {
    padding: 0;
    margin: 0;
}

#dropdownTitle {
    text-align: center;
    padding: 5px;
    font-size: 16pt;
    font-weight: bold;
}

.queryTools {
    grid-area: query;
}

.qTool {
    display: inline-grid;
    width: calc(20vw - 2px);
    padding: 10px;
    background-color: #353535;
    color: #ffffff;
    text-align: center;
}

.viewDiv {
    grid-area: main;
}

.IWAtools {
    grid-area: iwa;
}

/*.iTool {
    
}*/

.grid-container {
    display: grid;
    grid:
    'query main main main main'
    'query main main main main'
    'query main main main main'
    'query main main main main'
    'query iwa iwa iwa iwa';
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-gap: 0px;
    height: 100vh;
    padding-top: 50px;
}

/*.IWAtools {
    float: right;
    height: 20vh;
    width: 80vw;
    padding-top: calc(80vh + 50px);
}*/

#dropdown-container {
    height: 20vh;
    width: calc(20vw - 2px);
}

#summary-section {
    height: 60vh;
    width: calc(20vw - 2px);
}

#generate-report {
    height: 20vh;
    width: calc(20vw - 2px);
}