html, body {
    padding: 0;
    margin: 0;
}

#dropdownTitle {
    text-align: center;
    padding: 5px;
    font-size: 16pt;
    font-weight: bold;
}

.queryTools {
    grid-area: query;
    height: calc(100vh - 50px);
}

.qTool {
    width: calc(20vw - 2px);
    padding: 10px;
    background-color: #353535;
    color: #ffffff;
    text-align: center;
}

.dropdown {
    --calcite-select-font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30%;
    display: block;
}

.viewDiv {
    grid-area: main;
}

.IWAtools {
    grid-area: iwa;
}

.grid-container {
    display: grid;
    grid:
    'query main main main main'
    'query main main main main'
    'query main main main main'
    'query main main main main'
    'query iwa iwa iwa iwa';
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-gap: 0px;
    height: 100vh;
    padding-top: 50px;
}

#dropdown-container {
    height: calc(30vh - (50px / 3));
    display: inline;
}

#summary-section {
    height: calc(60vh - (50px / 3));
    width: calc(20vw - 2px);
}

#generate-report {
    height: calc(10vh - (50px / 3));
    width: calc(20vw - 2px);
}